
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* LANDING PAGE */

@layer components {
  .rotating-blocks-container-lg {
    grid-template-columns:  3fr 3.8fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "rotating-block-0 phone-image rotating-block-1"
      "rotating-block-2 phone-image rotating-block-3";
  }

  .rotating-blocks-container-md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, auto);
    grid-template-areas: 
      "phone-image phone-image"
      "rotating-block-0 rotating-block-1"
      "rotating-block-2 rotating-block-3";
  }

  .rotating-blocks-container-sm {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, auto);
    grid-template-areas: 
      "phone-image"
      "rotating-block-0"
      "rotating-block-1"
      "rotating-block-2"
      "rotating-block-3";
  }
}

.phone-image-container {
  grid-area: phone-image
}

.rotating-block {
  grid-area: rotating-block;
}

/* LANDING PAGE END */

html {
  --big-max-width: 2048px;
  --max-width: 1240px;
  @apply bg-[#efefef];
}

::selection {
  @apply bg-[#303030] text-white;
}

.btn {
  @apply h-[50px] rounded-[25px] text-white;
}

.btn::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-black/80 rounded-full transition-transform;
}

.btn:hover::before {
  @apply scale-[1.1];
}

.login-nav-btn::before {
  content: "";
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[200%] aspect-square bg-gradient-to-tr from-blue-400 via-white to-purple-400 origin-top-left;
  animation: rotation 2s linear infinite;
}

.animated-card {
  animation: fade-in 1s ease var(--delay) forwards;
}

.loading-gradient {
  @apply bg-gradient-to-r from-white/50 from-[40%] via-white via-[50%] to-white/50 to-[60%];
  background-position: center center;
  background-size: 300%;
  animation: animated-gradient 1s linear infinite;
}

.gradient-text {
  @apply bg-gradient-to-br from-blue-300 via-purple-400 to-orange-400;
  color: transparent;
  background-clip: text;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.inactive-link .icon {
  @apply md:hidden;
}

.active-link .icon {
  @apply inline-block;
}

@keyframes rotate-normal {
  from { transform: rotate(0) }
  to { transform: rotate(360deg) }
}


@keyframes rotation {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes move-around {
  0% {
    transform: scaleX(1) translateX(-100px);
  }

  100% {
    transform: scaleX(1) translateX(300px);
  }
}

@keyframes animated-gradient {
  from {
    background-position: 100% 100%;
  }

  to {
    background-position: 0% 0%;
  }
}